.banner {
    background: url(../img/Hero.svg) no-repeat;
    background-size: 100%;
    background-position: center;
    min-width: 414px;
}

.banner__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 1rem 1rem;
}

.banner__titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--branco);  
}

.banner__texto {
    font-size: 14px;
    font-weight: 600;
    color: var(--branco);
}

.banner__link {
    display: inline-block;
    width: 30%;
    text-decoration: none;
    color: var(--branco);
    background: var(--azul);
    text-align: center;
    padding: 1rem 1.5rem;
}