.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    padding: 1rem .5rem .5rem;

}

.cabecalho__logo {
    display: inline-block;
    width: 130px;  
}

.cabecalho__link {
    text-decoration: none;
    color: var(--azul);
    font-weight: 600;
    border: 1px solid var(--azul);
    padding: 1rem 3.5rem;
}

.cabecalho__lupa {
    padding: 1rem;
}