.produtos__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.produtos__titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza-escuro);
    
}

.produtos__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--azul);  
    background: url(../img/seta-direita.svg) no-repeat;
    background-position: 4rem;
    padding-right: 2rem;
}

.conteudo__lista {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    padding: 0 1rem;
}

.conteudo__descricao {
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza-escuro);
}

.conteudo__preco {
    font-weight: 700;
    color: var(--cinza-escuro);
}

.conteudo__item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.conteudo__link {
    color: var(--azul);
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}